*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */

.background-blue{
    background-color: #0084fd;
}

.background-lightblue{
    background-color: #b5ddff;
}

.background-violet{
    background-color: #9792e4;
}

.background-black{
    background-color: #333333;
}

.background-white{
    background-color: white;
}

.align-center-80{
    width: 80%;
    margin: 0 auto;
}

.align-center-70{
    width: 70%;
    margin: 0 auto;
}

.margin-bot-20px{
    margin-bottom: 20px;
}

/* button */
.color-black{
    color: black;
}

.button-small{
    border: transparent;
    border-radius: 20px;
    padding: 8px 15px;
}



/* header */

nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.row-nav{
    display: flex;
    justify-content: space-between;
}
/* column left */
.clm-nav-left{
    display: flex;
    align-items: center;
    width:30% ;
    height:50px;
}
/* column right */
.clm-nav-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:69% ;
    height:50px;
    
}
.clm-nav-right ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.clm-nav-right li{
    list-style: none;  
}

.clm-nav-right a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

/* bars */

.bars{
    font-size: 30px;
    color: white;
    display: none;
}

/* main */

main{
    width: 100%;
}
/* section application */
.application{
    margin-top: 20px;
}
.row{
    display: flex;
    justify-content: space-between;  
}
.application .row:first-child{
    margin-bottom: 10px;
}

.clm-66{
    width: 66%;
    height: 50px;
}

.clm-32{
    width: 32%;
    height: 50px;
}

.clm-30{
    width: 32%;
    height: 50px;
}


/* section planning */
.planning{
    margin: 20px 0;
}

/* section partners */
.partners{
    width: 100%;
    margin: 20px 0;
}

.row-partners{
    margin-bottom: 20px;
}
.clm-50{
    width: 50%;
    height: 50px;
    background-color: pink;
}

/* section benefits */

.row-benefits{
    flex-wrap: wrap;
}

.row-benefits .clm-30{
    margin: 20px 0;
}

/* section about us */

.about-us{
    width: 100%;
    margin: 20px 0;
}

/* section started */

.row-started, .row-footer{
    text-align: center;
}

/* footer */










