*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    line-height: 25px;
}

/* Utility */

.background-blue{
    background-color: #0084fd;
}

.background-lightblue{
    background-color: #b5ddff;
}

.background-violet{
    background-color: #9792e4;
}

.background-black{
    background-color: #333333;
}

.background-white{
    background-color: white;
}
/* align */

.align-center-80{
    width: 80%;
    margin: 0 auto;
}

.align-center-70{
    width: 70%;
    margin: 0 auto;
}

.align-center-50{
    width: 50%;
    margin: 0 auto;
}


.margin-bot-20px{
    margin-bottom: 20px;
}

.padding-20px{
    padding: 20px;
}

.margin-20px{
    margin: 20px;
}

/* border */

.border-radius-10px{
    border-radius: 10px;
}

.border-radius-30px{
    border-radius: 30px;
}




/* button */
.color-black{
    color: black;
}

.color-white{
    color: white;
}

.button-small{
    border: transparent;
    border-radius: 20px;
    padding: 8px 15px;
}

.button-medium{
    border: transparent;
    border-radius: 20px;
    padding: 8px 40px;
}

.button-large{
    border: transparent;
    border-radius: 20px;
    padding: 15px 40px;
}



/* header */

nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.row-nav{
    display: flex;
    justify-content: space-between;
}
/* column left */
.clm-nav-left{
    display: flex;
    align-items: center;
    width:30% ;
    height:50px;
}
/* column right */
.clm-nav-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:69% ;
    height:50px;
    
}
.clm-nav-right ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.clm-nav-right li{
    list-style: none;  
}

.clm-nav-right a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

/* bars */

.bars{
    font-size: 30px;
    color: white;
    display: none;
}



/* main */

main{
    width: 100%;
}
/* section application */
.application{
    margin-top: 20px;
}
.row{
    display: flex;
    justify-content: space-between;  
}
.application .row:first-child{
    margin-bottom: 20px;
}

.clm-32{
    width: 32%; 
    
}

.clm-50{
    width: 50%;
}

.clm-66{
    width: 66%;
    display: flex;
}





/* content */

.content{
    width: 50%;
}

.content h3, .content-icon span, .content-icon h3{
    color: #0084fd;
}

.content p, .content-icon p{
    color: grey;
}
.content img{
    margin: 0 0 -4px 30px;
    width: 80%;
}

.content p, .content button{
    margin-top: 20px;

}



/* content icon */
.content-icon{
    text-align: center;
    
}

.content-icon span{
    font-size: 60px;
}

.content-icon h3{
    margin: 15px 0;
}



/* section planning */
.planning{
    margin: 30px 0;
}

.planning1-img{
    margin: 40px 0;
}

.text-planning{
    color: white;
}

.text-planning p{
    margin: 20px 0;
}

.planning1-img img{
    width: 70%;
}

.planning2{
    display: flex;
    align-items: flex-end;
    text-align: center; 
}

.planning2-img{
    margin: 0 0 20px 10px;
}

.planning2-img img{
    width: 50%;
    margin-top: 10px;
}

.planning2-img p{
    margin: 20px 0;
    color: gray;
    
}

.planning2-img i{
    padding: 15px;
    border: transparent;
    border-radius: 50%;
    margin-bottom: 20px;
}


/* section partners */
.partners{
    width: 100%;
    margin: 20px 0;
}

.row-partners{
    margin-bottom: 20px;
}


.title-partners{
    text-align: center;
}

.title-partners p{
    margin: 20px 0 ;
}

.title-partners h2{
    margin-top: 20px;
    font-size: 30px;
    color: #9792e4;
}
    
.img-testimonials{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.clm-20{
    width: 20%;
}

.clm-80{
    width: 80%;
    color: white; 
}

.clm-20, .clm-80{
    display: flex;
    align-items: center;
    padding: 20px;
}

.clm-80 h4{
    margin-top: 10px;
}


/* section benefits */
.benefits{
    width: 100%;
}

.clm-benefits{
    width: 30%;
    margin-bottom: 20px ;
    
}

.row-benefits{
    width: 80%;
    margin: 0 auto;

    flex-wrap: wrap;
}

.row-benefits .clm-30{
    margin: 20px 0;
}

.title-benefits{
    width: 80%;
    margin: 20px auto;
    text-align: center;
    color: white;
}
.cards{
    padding: 30px;
}

.cards h2, .cards h3 {
    color: #9792e4;
}

.cards h2{
    font-size: 60px;
}


.cards h3{
    margin: 15px 0;
}

.cards p{
    color: grey;
    margin-bottom: 15px;
}

.cards button{
    color: white;
}


/* section about us */

.about-us{
    width: 100%;
    margin: 20px 0;
}

.content-about-us{
    margin: 20px;
}

.content-img-about-us{
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 50%;
    position: relative;
}


.content-about-us h2{
    font-size: 30px;
    color: #9792e4;
}

.content-about-us p{
    color: grey;
    margin-top: 25px;
}

.content-img-about-us img{
    width: 100%;
    border-radius: 50%;
    
}

.content-img-about-us i{
    font-size: 40px;
    color: #9792e4;
    position: absolute;
    top: 0;
    right: 0;
}

.text-about-us p{
    color: #9792e4;
    margin: 25px 0;
}


/* section started */

.row-started, .row-footer{
    text-align: center;
}

.clm-started{
    padding: 30px 0;
    color: white;
}

.clm-started h5{
    margin-bottom: 15px;
}

.clm-started h3{
    font-size: 30px;
}

.clm-started h2{
    font-size: 70px;
    color: orange;
    margin: 25px 0;
}

.clm-started button{
    margin: 25px 0;
}
/* footer */

.row-footer{
    color: white;
    padding: 30px 0;
}

.clm-footer p:last-child{
    margin-top: 30px;
}








